html,body { font-family: 'Open Sans'; }
img { padding: 5px; border: 1px solid #ccc; }
.main { max-width: 800px; text-align: center; margin: 0 auto; }
.video-container { position: relative;  padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; background-color: #555; box-shadow: 0 0 5px 10px #555;  }
.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.hero-foot { background: rgba(255, 255, 255, 1); border-top: 1px solid #999; } 
.navbar { border-bottom: 1px solid #999; }
.hero-body { padding-top: 0; }
span { text-decoration: underline; font-weight: bolder; }
button { background-color: #008CBA; }
h1 { color: #336699; font-weight: bold; font-size: 2em; background: rgba(255, 255, 255, 1); padding: 0.5em; }
h3 { color: black; font-weight: bold; font-size: 1.5em; margin-bottom: 2em; background: rgba(255, 255, 255, 1); padding: 0.5em; }
